@model IEnumerable<CoreEmployeMVC.Models.Detail>

@{
    ViewData["Title"] = "AllOTHour";
}

<h1>AllOTHour</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
          
           
            <th>
                @Html.DisplayNameFor(model => model.ot1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ot31)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
         
         
        
            <td>
                @Html.DisplayFor(modelItem => item.ot1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ot31)
            </td>
         
        </tr>
}
    </tbody>
</table>
