@model IEnumerable<CoreEmployeMVC.Models.Detail>

@{
    ViewData["Title"] = "AllworksHours";
}

<h1>AllworksHours</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
          
           
            <th>
                @Html.DisplayNameFor(model => model.work1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work19)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work21)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work22)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work23)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work24)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work25)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work26)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work27)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work28)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work29)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work30)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.work31)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.work1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work19)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work20)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work21)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work22)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work23)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work25)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work26)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work27)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work28)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work29)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work30)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.work31)
            </td>
           
        </tr>
}
    </tbody>
</table>
